#slider-6 .wd-slide {
	min-height: 700px;
}

@media (max-width: 1024px) {
	#slider-6 .wd-slide {
		min-height: 500px;
	}
}

@media (max-width: 767px) {
	#slider-6 .wd-slide {
		min-height: 350px;
	}
}
