@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "woodmart-font";
	src: url("//ascendaddictionneurorecovery.com/wp-content/themes/woodmart/fonts/woodmart-font-3-400.woff2?v=7.6.0") format("woff2");
}

:root {
	--wd-text-font: "Sora", Arial, Helvetica, sans-serif;
	--wd-text-font-weight: 400;
	--wd-text-color: #767676;
	--wd-text-font-size: 14px;
	--wd-title-font: "Sora", Arial, Helvetica, sans-serif;
	--wd-title-font-weight: 600;
	--wd-title-color: #242424;
	--wd-entities-title-font: "Sora", Arial, Helvetica, sans-serif;
	--wd-entities-title-font-weight: 500;
	--wd-entities-title-color: #333333;
	--wd-entities-title-color-hover: rgb(51 51 51 / 65%);
	--wd-alternative-font: "Sora", Arial, Helvetica, sans-serif;
	--wd-widget-title-font: "Sora", Arial, Helvetica, sans-serif;
	--wd-widget-title-font-weight: 600;
	--wd-widget-title-transform: uppercase;
	--wd-widget-title-color: #333;
	--wd-widget-title-font-size: 16px;
	--wd-header-el-font: "Sora", Arial, Helvetica, sans-serif;
	--wd-header-el-font-weight: 700;
	--wd-header-el-transform: uppercase;
	--wd-header-el-font-size: 13px;
	--wd-primary-color: rgb(12,38,65);
	--wd-alternative-color: rgb(255,255,255);
	--wd-link-color: rgb(255,255,255);
	--wd-link-color-hover: rgb(12,122,133);
	--btn-default-bgcolor: rgb(255,255,255);
	--btn-default-bgcolor-hover: rgb(12,122,133);
	--btn-accented-bgcolor: rgb(255,255,255);
	--btn-accented-bgcolor-hover: rgb(12,122,133);
	--wd-form-brd-width: 2px;
	--notices-success-bg: #459647;
	--notices-success-color: #fff;
	--notices-warning-bg: #E0B252;
	--notices-warning-color: #fff;
}
.woodmart-woocommerce-layered-nav .wd-scroll-content {
	max-height: 223px;
}
.wd-popup.wd-age-verify {
	--wd-popup-width: 500px;
}
.wd-popup.wd-promo-popup {
	background-color: #111111;
	background-image: none;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: left center;
	--wd-popup-width: 800px;
}
.page-title-default {
	background-color: rgb(241,247,253);
	background-image: url(https://ascendaddictionneurorecovery.com/wp-content/uploads/2025/02/Header-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.footer-container {
	background-color: rgb(51,51,51);
	background-image: none;
	background-repeat: no-repeat;
	background-size: cover;
}
.page .main-page-wrapper {
	background-color: F1F7FD;
	background-image: none;
}
.woodmart-archive-shop:not(.single-product) .main-page-wrapper {
	background-color: rgb(241,247,253);
	background-image: none;
}
.single-product .main-page-wrapper {
	background-color: rgb(241,247,253);
	background-image: none;
}
.woodmart-archive-blog .main-page-wrapper {
	background-color: rgb(241,247,253);
	background-image: none;
}
.single-post .main-page-wrapper {
	background-color: rgb(241,247,253);
	background-image: none;
}
.woodmart-archive-portfolio .main-page-wrapper {
	background-color: rgb(241,247,253);
	background-image: none;
}
.single-portfolio .main-page-wrapper {
	background-color: rgb(241,247,253);
	background-image: none;
}
.wd-popup.popup-quick-view {
	--wd-popup-width: 920px;
}
:root{
--wd-container-w: 1440px;
--wd-form-brd-radius: 0px;
--btn-default-color: #333;
--btn-default-color-hover: #333;
--btn-accented-color: #fff;
--btn-accented-color-hover: #fff;
--btn-default-brd-radius: 0px;
--btn-default-box-shadow: none;
--btn-default-box-shadow-hover: none;
--btn-default-box-shadow-active: none;
--btn-default-bottom: 0px;
--btn-accented-bottom-active: -1px;
--btn-accented-brd-radius: 0px;
--btn-accented-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .15);
--btn-accented-box-shadow-hover: inset 0 -2px 0 rgba(0, 0, 0, .15);
--wd-brd-radius: 0px;
}

@media (min-width: 1440px) {
[data-vc-full-width]:not([data-vc-stretch-content]),
:is(.vc_section, .vc_row).wd-section-stretch {
padding-left: calc((100vw - 1440px - var(--wd-sticky-nav-w) - var(--wd-scroll-w)) / 2);
padding-right: calc((100vw - 1440px - var(--wd-sticky-nav-w) - var(--wd-scroll-w)) / 2);
}
}


.sec-1 h2 {
    font-size: 60px;
  }

    h1 {
        font-size: 34px;
    }

@media (max-width:767px) {
	.sec-1 h2{
		font-size:24px;
	}
	
	h1{
		font-size:23px;
	}
}